<div data-animation="default" class="navbar_component w-nav" data-wf--navbar--variant="base" data-easing2="ease" data-wf-component-id="7aef2c02-b5f6-5aab-0681-a454b3bcb982" fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium" role="banner" data-duration="400">
  <div class="max-width-full">
    <div class="padding-global is-nav">
      <div class="navbar_container">
        <a href="/index.html" class="button is-secondary is-alternate hide-mobile-portrait w-button">Home</a>
        <a href="/index.html" class="navbar_logo-link w-nav-brand">
          <img loading="eager" src="/images/EM-Logo.svg" alt="Emily Marais' logo, a minimalist-style line drawing of a globe, encompassing the letters EM." class="navbar_logo">
        </a>
        <a href="https://emilymarais.com/#contact" class="button is-secondary is-alternate hide-mobile-portrait w-button">Contact</a>
      </div>
    </div>
  </div>
</div>
